.wrap {
    height: 100%; 
  }
  .fcw-card {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    max-width: 700px;
    margin: 80px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .fcw-card-pic-wrap {
    border-radius: $b-r 0 0 $b-r;
    width: 300px;
    flex: 0 0 auto;
    position: relative;
    background: #8dc26f;
  }

  .fcw-card-pic-wrap img {
    position: absolute;
    bottom: 3em;
    /* left: 50%;
    margin-left: -150px; */
    width: 350px;
    height: 316px;
    -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
  }
  .fcw-card-content {
    padding: 3em 4em 2em;
    text-align: left;
  }
  .fcw-card-content h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 0 1em;
  }
  .fcw-card-content a {
    background: #8dc26f;
    color: #fff;
    padding: 0 25px;
    height: 50px;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 1.5em;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .fcw-card-content a:hover {
    background: #70a751;
  }
  
  @media (max-width: 790px) {
    .wrap {
      margin-left: 20px;
      margin-right: 20px;
    }
    .fcw-card {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .fcw-card-pic-wrap {
      width: 100%;
      border-radius: $b-r $b-r 0 0;
      img {
        bottom: 20px;
        position: relative;
      }
    }
    .fcw-card-content {
      padding: 2em 2em 1em;
    } 
  }